<html lang="en">
  <%- include("./partials/_head") %>
  <body>
    <h1>Wordle API</h1>
    <p>
      A wordle api built with express.js with model-view-controller architecture
    </p>
  </body>
</html>
